/* MuseoModerno Font Family */
@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno/MuseoModerno-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
